@import "responsive";
@import "vue";

// Font
$defaultFont: "Open Sans", sans-serif;

// Variables

// Font Sizes

// Colors

// Shadows

// Sizes

// Global style
* {
    padding: 0;
    margin: 0;
    font-family: $defaultFont;
}

// Util